---
title:  Argentine Tango Discussion and Announcement Lists: Tango-L and Tango-A
metas:
  keywords:   "software, developer"


---
- @me = current_page.data

/////////////////////////////////////////////////
.jumbotron
  .container
    .row
      .col-sm-8.col-12
        %p.lead
          %b.font-weight-bold
            The Tango-L and Tango-A Mailing Lists 
          are the longest-running 
          international mailing lists related to 
          the Argentine Tango, founded in 1995 and 1999
          respectively. 
          Tango-L is for discussion of any  
          (largely non-commercial)
          aspect of Argentine Tango,
          
          and Tango-A is an announcement
          list for major Tango events worldwide 
          by their organizers. 
          
          Both lists have played a significant role in making 
          the Tango world smaller.

      .col-sm-4.py-5.col-12

        %a.btn.btn-primary.btn-lg{:role=>"button",
          :href=>"http://mailman.mit.edu/pipermail/tango-l/"}
          Tango-L Archive &raquo;
        %p
        %a.btn.btn-info.btn-sm{:role=>"button",
          :href=>"http://mailman.mit.edu/mailman/listinfo/tango-l"}
          Tango-L Mailman &raquo;

.container

  .row
    .col-md-4

      /////////////////////////////////////////////////
      %h4 Tango-A Updates (May 2015)
      %p
        [Note that the rest of this website has not been 
        updated to reflect these
        two news updates, and that will be done in due 
        course.]
      %ol
        %li
          The Tango-A list will be discontinued as a separate list as of 1 June
          2015. Tango-A posts may be made to the Tango-L list. 
          You may see the full article announcing this at the archive
          %a{:href => "http://permalink.gmane.org/gmane.recreation.dance.tango.tango-a/19702"}
            gmane.org(page)
        %li
          Speaking of archives, the Tango-A list has now been fully archived with
          all historical articles reconstructed from the inception of the list in 1999. 
          You may find the archives at one of the following two locations. 
          Both sites have exactly the same information and articles, but they
          have different presentation styles and you may prefer one over the other, so try
          them both out and see which you prefer. 
          They both have search facilities, or you
          can just browse by date or topics. 
          You may see the full article announcing this at
          %a{:href => "http://permalink.gmane.org/gmane.recreation.dance.tango.tango-a/19704"}
            gmane.org(page)
          %ol{:type => "a"}
            %li
              %b The Gmane.org archives:
              %br/
              %b Tango-A:
              %a{:href => "http://blog.gmane.org/gmane.recreation.dance.tango.tango-a", :target => "_blank"} Blog view (date oriented)
              |
              %a{:href => "http://news.gmane.org/gmane.recreation.dance.tango.tango-a", :target => "_blank"} Thread view (topic oriented)
            %li
              %b The List-Archive.com archives:
              %br/
              %b Tango-A:
              %a{:href => "https://www.mail-archive.com/tango-a@mit.edu/maillist.html", :target => "_blank"} Date view |
              %a{:href => "https://www.mail-archive.com/tango-a@mit.edu/index.html", :target => "_blank"} Thread view  
      %p
        [End of Tango-A Updates (May 2015)]

    .col-md-4

      /////////////////////////////////////////////////
      %h4 Server Transitions (April 2006) 
      %p
        %b 
          The transition from Listserv (mitvma.mit.edu)  
          to Mailman (mit.edu):
        %i
          In
          %b April 2006,
          the Tango-L and Tango-A lists were moved to new 
          list management software at MIT. 
          It has been 2 years since this move and is largely 
          of historical interest at this point, but history 
          buffs may check out the reasons for and effect of 
          this move
          %a{:href => "mailman.htm"} here
      %p
        %i
          %b Webmasters:
          Please click
          %a{:href => "#Webmasters"} here
          for
          information about linking to this site or carrying information about Tango-L on
          your website.

    .col-md-4

      /////////////////////////////////////////////////
      %h4 FAQ
      %p
        Some info to read here.....

  %hr


  /////////////////////////////////////////////////
  / = partials "rules.html.haml"
  /////////////////////////////////////////////////
  / = partials "faq.html.haml"